- provide(:title, 'All users')
- provide(:search_name, 'User search')
- provide(:path, users_path)
%h1 All users
= will_paginate

%ul.users
  = render 'users/search'
  = render @users
= will_paginate
